.back{
	float:left;
	margin-left:10px;
	padding-bottom:20px;
}

.row {
		width:100%;
		line-height: 0;
		text-align:center;}

.column {
		width:25%;
		display:inline-block;
}

p {
		margin:0;
		padding:0;
}

.row img {
	width:22.5%;
}