*, *:before, *:after {
    box-sizing: border-box;
}

.container{
 	width:90%;
    margin: 0 auto;
   	max-width: 800px;
}


.column{
	float:left;
	padding-left: 100px;
}

.row{
	position:static;
	margin: 0 auto;
}

#wrap{
	text-align: center;
}

#content{
	display: inline-block;
	text-align: left;
}

#back{
	padding-bottom: 10px;
}

/* ----- Clearfix by Nicolas Gallagher ----- */
.clearfix:before,
.clearfix:after { content: " "; display: table;}
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }	