*, *:before, *:after {
    box-sizing: border-box;
}

img{
	display:block;
	margin:0 auto;
	padding-bottom:50px;
	padding-top:0px;
	width:75%;
}

.container{
 	width:90%;
    margin: 0 auto;
   	max-width: 800px;
}

.column{
	padding: 20px;
	position: static;
}

@media (min-width: 890px) {
	
    .column {
        float: left;
    }
   /* .column.seventh{ width:14.2%;*/
}

/* ----- Clearfix by Nicolas Gallagher ----- */
.clearfix:before,
.clearfix:after { content: " "; display: table;}
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }	