
img{
	display:block;
	margin:0 auto;
	padding-bottom:100px;
	padding-top:0px;
}

.container{
 	width:100%;
    margin: 0 auto;
   	max-width: 800px;
}

.row{
	position: static;
}

.column{
	float: left;
	position: static;
	padding: 20px;

}

